__pycache__/
*.pyc
.pytest_cache/
.venv/
.cache/
.env
.DS_Store
logs/*
!logs/.gitkeep
yolov8n.pt
data/raw_videos/
data/raw_video/
data/bottle/pink bottle.coco/
data/bottle/images/raw/
data/bottle/images/train/
data/bottle/images/val/
data/bottle/labels/raw/
data/bottle/labels/train/
data/bottle/labels/val/
data/bottle/labels/*.cache
data/bottle/imports/
data/bottle/roboflow_upload/
data/bottle/roboflow_upload.zip
data/bottle_colab/
data/bottle_colab.zip
data/bottle_colab_v19/
data/*.coco.zip
data/*.coco/
models/*
!models/.gitkeep
!models/bottle_v1/
!models/bottle_v1/weights/
!models/bottle_v1/weights/best.pt
!models/bottle_v2/
!models/bottle_v2/weights/
!models/bottle_v2/weights/best.pt
!models/bottle_v3/
!models/bottle_v3/weights/
!models/bottle_v3/weights/best.pt
runs/
